* {
  margin: 0;
  padding: 0;
  user-select: none;
}
 
body {
  
  background: #c4e0e5;
}
 
.wrapper {
  margin: 100px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box;
}
 
/* content */
.content {
  text-align: center;
}
 
.content h1 {
  letter-spacing: 1px;
}
 
 
/* form */
.form {
  width: 100%;
  margin: 25px 0;
}
 
.top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0;
}
 
.form input[type="text"],
.form textarea {
  border: 2px solid #fff;
  padding: 15px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
 
.form input:focus,
.form textarea:focus {
  border-color: #4ca1af;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(76, 161, 175, 0.5);
}
 
.form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}
 
/* top-contact */
.top-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}
 
.top-form .inner-form:last-child {
  margin-right: 0;
}
 
 
/* middle-form */
.middle-form {
  clear: both;
}
 
/* bottom-form */
.bottom-form textarea {
  height: 120px;
}
 
.btn {
  background: #4ca1af;
  width: 200px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}
 
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Kavivanar", cursive;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Kavivanar", cursive;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Kavivanar", cursive;
}
 
@media screen and (max-width: 460px) {
  .wrapper {
    margin: 25px auto 0;
  }
  .top-form .inner-form {
    width: 100%;
    margin: 5px 0;
  }
  .top-form,
  .middle-form,
  .bottom-form {
    margin: 5px 0;
  }
  .form {
    margin-top: 10px;
  }
  .form input[type="text"],
  .form textarea {
     width: 100%;
     box-sizing: border-box;
  }
}

